
.TopArea {
    height: 60px;
    background: linear-gradient(306deg,#43cccc,#08a);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-shadow: 0 0 4px 0 rgba(0,0,0,.08), 0 4px 4px 0 rgba(0,0,0,.12);
}

.NavLeft {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 30px;
    width: 50%;
}

.Logo {
    margin-right: 6%;
    display: flex;
    padding-top: 5px;
}

.Logo img {
    width: 90%;
}

.NavContainer {
    height: 60px;
    display: flex;
    flex-direction: row;

}

.NavItem {
    display: flex;
    align-items: center;
    font-size: 17px;
    font-family: 'Raleway',sans-serif;
    font-weight: bold;
    text-align: center;
    border-right: 1px solid #eee;
    color: #fff;
    margin-right: 2px;
    padding-left: 10px;
    padding-right: 10px;
    text-transform: capitalize;
}

.NavItem:first-child {
    border-left: 1px solid #eee;
}

.ProfileContainer {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
    color: white;
    margin-right: 0.5%;
}

.Profile {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Avatar {
    margin-right: 10px;
}