.Container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    width: 100%;
    /* background-color: #ccc; */
}

.FilterContainer {
    display: flex;
    justify-content: space-between;
    width: 70%;
    border: 1px solid #ccc;
    box-shadow: 0 0 4px 0 rgba(0,0,0,.08), 0 4px 4px 0 rgba(0,0,0,.12);
    border: 1px solid #43cccc;
    margin-bottom: 50px;
}

.FilterArea {
    display: flex;
    flex-direction: row;
}

.FilterText {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    font-size: 19px;
    font-family: 'Raleway',sans-serif;
    font-weight: bold;
    margin-right: 20px;
    background: linear-gradient(306deg,#43cccc,#08a);
    color: #fff;
}

.Search {
    display: flex;
    align-items: center;
    background: linear-gradient(306deg,#43cccc,#08a);
    width: 6%;
    justify-content: center;
}

.Search:hover {
    cursor: pointer;
}

.Filters {
    display: flex;
    align-items: center;
}
