.Filter {
    display: flex;
    align-items: center;
    height: 100%;
    margin-right: 10px;
}

.Filter label {
    padding-bottom: 3px;
    color: #666;
    font-size: 13px;
    padding-right: 5px;
}

.Filter select {
    height: 100%;
    /* border-right: 1px solid #ccc; */
    font-size: 15px;
    font-family: 'Raleway',sans-serif;
    border-top: none;
    border-bottom: none;
    border-left: 1px solid #43cccc;
    border-right: 1px solid #43cccc;
}