.ModalHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3%;
    padding-top: 1%;
    background-color: '#ccc';
}

.ModalImage {
    height: 40px;
}

.Form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.TextField {
    width: 80%;
    height: 50px
}

.Button {
    width: 80%;
}

.SignupLink {
    cursor: pointer;
    text-decoration: underline;
}

.SignupFailed {
    color: red;
    font-style: italic;
}